%html
  %head
    %title= title || 'Presentation'
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1'}
    %meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}
    %link{:rel => 'stylesheet', :media => 'all', :href => "theme/css/#{theme || 'default'}.css"}
    %link{:rel => 'stylesheet', :media => 'only screen and (max-device-width: 480px)', :href => 'theme/css/phone.css'}
    %base{:target => '_blank'}
    %script{:src => 'js/jquery.min.js'}
    %script{'data-main' => 'js/slides', :src => 'js/require-1.0.8.min.js'}
  %body{:style => 'opacity: 0'}
    %slides{:class => 'layout-widescreen'}
      - if bookend_slide_image
        %slide{:class => 'logoslide nobackground'}
          %article{:class => 'flexbox vcenter'}
            %span
              %img{:src => "images/#{bookend_slide_image}"}
      %slide{:class => 'title-slide segue nobackground'}
        %aside.gdbar
          %img{:src => "images/#{title_segue_image || default_segue_image}"}
        %hgroup{:class => 'auto-fadin'}
          %h1{:data => {:config_title => true}}
          %h2{:data => {:config_subtitle => true}}
          %p{:data => {:config_presenter => true}}
      = slides.join("\n")
      %slide{:class => 'thank-you-slide segue nobackground'}
        %aside{:class => 'gdbar right'}
          %img{:src => "images/#{thank_you_segue_image || default_segue_image}"}
        %article{:class => 'flexbox vleft auto-fadein'}
          %h2= thank_you_title || 'Thank you!'
        %p{:class => 'auto-fadein', :data => {:config_contact => true}}
      - if bookend_slide_image
        %slide{:class => 'logoslide nobackground'}
          %article{:class => 'flexbox vcenter'}
            %span
              %img{:src => "images/#{bookend_slide_image}"}
        %slide.backdrop
  - if increment_every
    :javascript
      var inc_started = false;
      var increment_every = #{increment_every} * 1000;
      function toggle_auto_advance(){
        if(!inc_started){
          inc_started = true;
          inc_slide();
          inc();
        } else {
          inc_started = false;
        }
      }

      function inc_slide(){
        var evt = document.createEvent('Event');
        evt.initEvent('keydown', true, true);
        evt.keyCode = 32;
        document.dispatchEvent(evt);
        $('body').trigger(evt);
      }

      function inc(){
        setTimeout(function(){
          if(inc_started){
            inc_slide();
            inc();
          }
        }, increment_every);
      }
      jQuery('body').keypress(function(event){
        if(event.which == 115){
          toggle_auto_advance();
        }
      });

      :javascript
        jQuery('body').keydown(function(event){
          if(typeof increment_every != 'undefined'){
            if(event.keyCode == 32){
              setTimeout(function(){
                auto_scroll = $(slidedeck.slides[slidedeck.curSlide_]).find('pre.auto-scroll').first();
                console.log(auto_scroll);
                if(auto_scroll.size() > 0){
                  setTimeout(function(){
                    auto_scroll.animate({scrollTop: auto_scroll.prop('scrollHeight')}, increment_every - 1500);
                  }, 1000);
                  setTimeout(function(){
                    auto_scroll.scrollTop(0);
                  }, increment_every);
                }
              }, 100);
            }
          }
        });

  :plain
    <!--[if IE]>
      <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
      <script>CFInstall.check({mode: 'overlay'});</script>
    <![endif]-->
